<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        </link>
  <link rel="stylesheet" href="styles.css">
  <title>Escena compañia de arte y teatro</title>
  </head>
  <body>
    <section class="section section-top">
      <img src="/img/#" alt="Logo de escena">
      <div>
        <h1>Escena</h1>
        <h2>¿Quiénes Somos?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique eget est ut facilisis. Nulla quis ligula purus. Etiam dictum rhoncus lorem, eu egestas libero accumsan quis. Donec posuere bibendum nisi a rhoncus.</p>   
      </div>
    </section>
    <section class="section section-play-meet">
    <div class="row">    
      <div class="columns">
        <iframe width="360" height="275" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
      </div>
      <div class="columns">
        <h1>Conoce</h1>
        <h3>Nullam sit amet leo cursus, rhoncus justo vitae, mollis diam. Proin gravida justo eu aliquet aliquet.</h3>
      </div>
    </div>
    </section>
    <section class="section section-clases">
      <h1>Clases</h1>
      <div class ="row">
      <div class="columns">
        <h2>Niños</h2>
        <i class="fas fa-child fa-3x"></i>
        <p>Donec id lorem a justo ultricies malesuada. Aenean commodo sit amet metus gravida molestie. Cras nec nulla rhoncus, lacinia leo at, hendrerit odio.</p>
      </div>
      <div class="columns">
        <h2>Jóvenes</h2>
        <i class="fas fa-user fa-3x"></i>
        <p>Donec id lorem a justo ultricies malesuada. Aenean commodo sit amet metus gravida molestie. Cras nec nulla rhoncus, lacinia leo at, hendrerit odio.</p>
      </div>
      </div>
    </section>
    <section class="section section-programa">
      <div>
        <h1>Programa Continuo</h1>
        <p>Nam a feugiat nulla, et interdum leo. Ut imperdiet consequat justo, sed ultrices dui ullamcorper eu. Ut fermentum vulputate libero, sed fringilla mi dapibus eu. In hac habitasse platea dictumst.</p>     
      </div>
    </section>
    <section class="section section-contacto">
    <h1>Contáctanos</h1>
    <div id="app" style="padding-top: 8rem;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-group">
                        <label>
                            Nombre:
                        </label>
                        <input class="form-control" type="text" v-model="from_name">
                        </input>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 form-group">
                        <label>
                            Asunto:
                        </label>
                        <input class="form-control" type="text" v-model="subject">
                        </input>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 form-group">
                        <label>
                            Correo:
                        </label>
                        <input class="form-control" type="email" v-model="from_email">
                        </input>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 form-group">
                        <label>
                            Mensaje:
                        </label>
                        <textarea class="form-control" v-model="message">
                        </textarea>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <button @click="enviar" class="btn btn-success">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section footer">
        <div class="div-footer">
        <h1>Síguenos: </h1>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-square fa-3x"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram fa-3x"></i></a></li>
        </ul>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js" integrity="sha256-+xf9aJnHocnmrigq2hIDJGBSAnJdF5NH+Ooe5J2PHiI=" crossorigin="anonymous"></script>
    <script>
        //iniciamos rellax
        var rellax = new Rellax('.rellax');
    </script>
        <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript">
        </script>
        <script>
            (function(){
                emailjs.init("user_dyP5KRs4t0ZT4EAxKWqtz");
             })();
            const vue = new Vue({
                el: '#app',
                data(){
                    return {
                        from_name: '',
                        from_email: '',
                        message: '',
                        subject: '',
                    }
                },
                methods: {
                    enviar(){
                        let data = {
                            from_name: this.from_name,
                            from_email: this.from_email,
                            message: this.message,
                            subject: this.subject,
                        };
                        
                        emailjs.send("daniel_rivas","form_contact", data)
                        .then(function(response) {
                            if(response.text === 'OK'){
                                alert('El correo se ha enviado de forma exitosa');
                            }
                           console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
                        }, function(err) {
                            alert('Ocurrió un problema al enviar el correo');
                           console.log("FAILED. error=", err);
                        });
                    }
                }
            });
        </script>
  </body>
</html>