@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
	--primary-color: #2d2254;
	--secondary--color: #f5c42f;
	--tertiary--color: black;
	--text-color: #c5bbec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: var(--tertiary--color);
	font-size: 18px;
	line-height: 1.6;
}

h1,
h2,
h3,
p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
}

/**.btn {
	display: inline-block;
	border: 0;
	background: #fcfc35;
	color: #fff;
	border-radius: 20px;
	padding: 8px 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

.btn:hover {
	//transform: scale(1.10);
	background: #fc9803;
}**/

/**.primary-text {
	color: var(--primary-color);
}

.secondary-text {
	color: var(--secondary--color);
}**/

.section {
	position: relative;
	padding: 0 20px;
}


/* Section Top */
.section-top {
	min-height: 467px;
	background: url('https://res.cloudinary.com/dw9docv2h/image/upload/v1586143787/Banner_P%C3%A1gina_ESCENA-02_vgyps1.jpg') no-repeat;
	background-size: 1350px 467px;
	display: flex;
	justify-content: space-around;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Section Play and meet */
.section-play-meet {
    padding-top: 15px;
	min-height: 400px;
	background-color: white ;
	color: black;
}

.section-play-meet .marco-video {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.section-play-meet h1 {
	margin-right: 50px;
	margin-top: 30px;
}

.section-play-meet h3 {
	margin-right: 50px;
	margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.columns {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 15px;
}

.columns-tarjeta {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	margin: 15px;
 }

.section-clases {
	min-height: 200px;
	color: black;
}

.titulo-clases {
	background-color: black;
}

.tarjeta {
	background-color: grey;
	min-height: 70px;
	margin-top: -80px;
	margin-left: 90px;
	margin-right: 60px
}

.titulo-tarjeta {
	margin-top: 20px;
	margin-bottom: 10px;
}

.parrafos-tarjetas{
	margin: 30px 30px 30px 30px;
	text-align: justify;
}

.parrafo-bajo-tarjeta{
	margin-top: 20px;
	margin-bottom: 30px;	
}

.section-clases h1 {
	margin-right: auto;
	margin-left: auto;
	background-color: black;
	color: white;
	text-align: center;
}

.section-clases h2, i {
    line-height: 1.3;
    margin: auto;
	padding: auto;
	
	font-size: small;
}

.sectionone {
	position: relative;
	z-index: 10;
  }

.sectiontwo {
	position: relative;
	z-index: 20;
  }

 .sectionthree {
	position: relative;
	z-index: 30;
  }

.section-programa {
	min-height: 400px;
	background-color: var(--secondary--color);
}

.section-contacto {
	min-height: 700px;
	background-color: black;
	color: white;
	padding-top: 50px;
}

.contacto {
width: 200px;
margin-left: 50px;
justify-content: space-around;
}

.contactanos-titulo {
	font-size: 2rem;
	text-align: center;
}

.contacto-form {
	padding-left: 30px;
}

/* Carrusel */
.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
}

.carousel-inner {
	width: auto;
	margin-left: -20px;
}


.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
	box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}

/* Carrusel */




/* Footer */
.footer {
    color: white;
	border-top: var(--text-color) 1px solid;
	padding: 30px;
	text-align: center;
	background: grey;
	border: 0;

}

.footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

/* Mobile */
@media (max-width: 1440px) {
    .carousel-inner {
		width: 1440px;
	}

	.section-top {
		background-size: 1440px 300px;
		min-height: 300px;
	}

	.carousel-inner {
		width: 1440px;
	}
}

@media (max-width: 1366px) {
    .carousel-inner {
		width: 1366px;
	}

	.section-top {
		background-size: 1366px 300px;
		min-height: 300px;
	}

	.carousel-inner {
		width: 1366px;
	}
}

@media (max-width: 1024px) {
    .carousel-inner {
		width: 1024px;
	}

	.section-top {
		background-size: 1024px 300px;
		min-height: 300px;
	}

	.carousel-inner {
		width: 1024px;
	}
}

@media (max-width: 980px) {
	.carousel-inner {
		width: 980px;
	}

	.parrafos-tarjetas {
		font-size: 0.84rem;
	}
}

@media (max-width: 768px) {
	.section-top,
	.section-play-meet {
		position: static;
		width: 100%;
	}

	.section-top {
		background-size: 768px 200px;
		min-height: 200px;
	}

	.img-center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.parrafo-bajo-tarjeta {
		margin-top: 20px;
		margin-bottom: 30px;
		margin-left: 150px;
		font-size: 1.2rem;
	}

	.section-play-meet {
		min-height: 400px;
		display: block;
		margin-top: 0;
	}

	.columns-tarjeta {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
		margin: 15px;
	 }

	 .tarjeta {
		 margin-top: -80px;
		 margin-left: 40px;
	 }

	 .parrafos-tarjetas {
		margin: 30px 30px 30px 30px;
		text-align: justify;
		font-size: 0.80rem;
	}

	.section-play-meet h1 {
 		text-align: center;
		font-size: 1.5rem;
		margin-left: auto;
		margin-right: auto;
	}

	.section-play-meet h3 {
		text-align: justify;
	   	font-size: 1rem;
	   	margin-left: auto;
		margin-right: auto;
   }
	
	.section-play-meet .marco-video {
		height: 150px;
		width: 220px;
	}

	.section-programa {
		min-height: 200px;
		background-color: var(--secondary--color);
	}

	.footer ul {
		display: block;
	}

	.carousel-inner {
		width: 768px;
	}

	.carousel-thumbnails .carousel-indicators img {
		height: 25px;
	}
}

@media (max-width: 425px){
	.section-top,
	.section-play-meet {
		position: static;
		width: 100%;
	}

	.section-top {
		background-size: 425px 200px;
	}

	.section-play-meet .marco-video {
		height: 150px;
		width: 220px;
		margin-right: auto;
		margin-left: 90px;
	}

	.section-play-meet h1 {
		margin-left: 90px;
		margin-right: auto;
	}

	.section-play-meet h3 {
		margin-left: 30px;
		margin-right: auto;
	}

	.img-center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.parrafo-bajo-tarjeta {
		margin-top: -70px;
		margin-bottom: 30px;
		margin-left: 40px;
		font-size: 0.9rem;
	}

	.tarjeta {
		font-size: 0.9rem;
		margin-bottom: 100px;
	}

	.titulo-tarjeta {
		font-size: 1.7rem;
	}

	.columns-tarjeta {
		flex: unset;
	}

	.section-programa {
		min-height: 180px;
	}

	.contact {
		margin-left: 20px;
	}

	.contactanos-titulo {
		margin-left: 30px;
	}

	.contacto p {
		margin-left: 80px;
		margin-right: 20px;
		font-size: 1.2rem;
		margin-bottom: 30px;
		min-width: 100px;
		text-align: center;
	}

	.carousel-inner {
		width: 425px;
		margin-left: -20px;
	}

	.carousel-thumbnails .carousel-indicators img {
		height: 15px;
	}

	.footer h1 {
		margin-left: 20px;
	}

	.footer img h3>h5 {
		margin-left: 20px;
	}

	.footer .rrss {
		margin-left: 10px;
	}

	.footer h6 {
		margin-left: 30px;
	}

}

@media (max-width: 375px) {
	.section-top {
		background-size: 375px 200px;
	}
	
	.carousel-inner {
		width: 375px;
	}

	.section-play-meet .marco-video {
		margin-left: 60px;
	}

	.section-play-meet h1 {
		margin-left: 60px;
	}

	.section-programa {
		min-height: 80px;
	}

	.carousel-thumbnails .carousel-indicators img {
		height: 15px;
	}
	
	.parrafo-bajo-tarjeta {
		font-size: 0.8rem;
	}

	.contactanos-titulo {
		margin-left: 0px;
	}

	.contacto p {
		margin-left: 25px;
	}

	.footer .rrss {
		margin-left: 20px;
	}

	.footer img {
		margin-left: 80px;
	}

	.footer h3 {
		margin-left: 20px;
	}

	.footer h5 {
		margin-left: 30px;
	}
}

@media (max-width: 360px) {
	.section-top {
		background-size: 360px 200px;
	}
	
	.carousel-inner {
		width: 360px;
	}

	.section-play-meet .marco-video {
		margin-left: 50px;
	}

	.section-play-meet h1 {
		margin-left: 50px;
	}

	.footer img {
		margin-left: 70px;
	}
}

