.section-top h2 {
	//font-size: 70px;
	line-height: 1.3;
//	text-shadow: 2px 2px 2px #9c9c9c;
    color: white;
}

.section-top p {
//	font-size: 70px;
	line-height: 1.3;
//	text-shadow: 2px 2px 2px #9c9c9c;
    color: white;
}


/* Section Play and meet */
.section-play-meet {
    padding-top: 15px;
	min-height: 400px;
	background-color: #fcfc35 ;
	color: white;
}

.section-play-meet h1 {
    text-shadow: 2px 2px 2px #9c9c9c;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.columns {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 15px;
}

.section-clases {
    padding-top: 15px;
	min-height: 400px;
	background-color: black ;
	color: white;
}

.section-clases h1 {
    text-shadow: 2px 2px 2px #9c9c9c;
    text-align: center;
}

.section-clases h2, i {
    line-height: 1.3;
    margin: auto;
    padding: auto;
}

.section-programa {
	min-height: 500px;
	background: url('/img/programa_img.jpeg') no-repeat;
	background-size: 1350px 500px;
	//display: flex;
//	justify-content: space-around;
}

.section-programa h1, p {
    color: white;
}

.section-programa h1 {
    text-shadow: 2px 2px 2px #9c9c9c;
}

/* Footer */
.footer {
    color: white;
	border-top: var(--text-color) 1px solid;
	padding: 30px;
	margin-top: 20px;
	text-align: center;
	background: var(--tertiary--color);
}

.footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
	.section-top .content,
	.section-stream .play,
	.section-stream .content {
		position: static;
		width: 100%;
	}

	.section-top {
		min-height: 200px;
		padding-top: 20px;
	}

	.section-top .content {
		text-align: center;
	}

	.section-top .content h1 {
		font-size: 45px;
	}

	.section-stream {
		min-height: 400px;
	}

	.section-stream .play {
		width: 50%;
		display: block;
		margin: 30px auto;
	}

	.section-grid {
		display: block;
		margin-top: 0;
	}

	.footer ul {
		display: block;
	}
}
