@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

:root {
	--primary-color: #2d2254;
	--secondary--color: #f5c42f;
	--tertiary--color: black;
	--text-color: #c5bbec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto';
	color: var(--tertiary--color);
	font-size: 18px;
	line-height: 1.6;
}

h1, h2 {
 font-weight: 900;
}

h3, p {
	font-weight: 100;
}


h1,
h2,
h3,
p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
}

.header .navbar {
	background-color: transparent !important;
}  

.section {
	position: relative;
	padding: 0 20px;
}

.logo-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Section Top */
.section-top {
	background: url('https://res.cloudinary.com/dw9docv2h/image/upload/v1590975957/IMG_43067_axkuds.jpg') no-repeat;
	background-size: cover;
	width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Section Play and meet */
.section-play-meet {
    padding-top: 15px;
	min-height: 400px;
	background-color: white ;
	color: black;
}

.section-play-meet .marco-video {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.section-play-meet h1 {
	margin-right: 50px;
	margin-top: 30px;
}

.section-play-meet h3 {
	margin-right: 50px;
	margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.columns {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 15px;
}

.columns-tarjeta {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	margin: 15px;
 }

.section-clases {
	min-height: 200px;
	color: black;
}

.titulo-clases {
	background-color: black;
}

.tarjeta {
	background-color: grey;
	margin-top: -80px;
	margin-left: 90px;
	margin-right: 60px;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transform-style: preserve-3d;
	transition: all 0.8s ease;
}

.tarjeta:hover {
	transform: rotateY(180deg);
}

.tarjeta-frente{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: grey;
  color: black;
  }

  .tarjeta-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: grey;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
  }

.titulo-tarjeta {
	margin-top: 20px;
	margin-bottom: 10px;
}

.parrafos-tarjetas{
	margin: 30px 30px 30px 30px;
	text-align: center;
}

.parrafo-bajo-tarjeta{
	margin-top: 20px;
	margin-bottom: 30px;	
}

.section-clases h1 {
	margin-right: auto;
	margin-left: auto;
	background-color: black;
	color: white;
	text-align: center;
}

.section-clases h2, i {
    line-height: 1.3;
    margin: auto;
	padding: auto;
	
	font-size: small;
}

.sectionone {
	position: relative;
	z-index: 10;
  }

.sectiontwo {
	position: relative;
	z-index: 20;
	height: 300px;
    left: 50%;
    transform: translate(-50%, -0%);
  }

 .sectionthree {
	position: relative;
	z-index: 30;
	
  }

.section-programa {
	min-height: 400px;
	background-color: var(--secondary--color);
}

.section-contacto {
	height: 598px;
	background-image: url(https://res.cloudinary.com/dw9docv2h/image/upload/v1587603134/Banner_P%C3%A1gina_ESCENA-04_jtlvju.jpg);
	background-repeat: no-repeat;
	background-color: black;
	color: white;
	padding-top: 50px;
}

.alert {
	padding: .40rem 1.25rem;
}

.contacto {
width: 200px;
margin-left: 50px;
justify-content: space-around;
}

.contactanos-titulo {
	font-size: 2rem;
	text-align: center;
}

.contacto-form {
	padding-left: 30px;
}

/* Carrusel */
.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
}

.carousel-inner {
	width: auto;
	margin-left: -20px;
}

.carousel-inner>.item {
    -webkit-transition: -webkit-transform 0.1s ease-in-out !important;
    -o-transition: -o-transform 0.1s ease-in-out !important;
    transition: transform 0.1s ease-in-out !important;
}


.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
	box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}

/* Carrusel */




/* Footer */
.footer {
    color: white;
	border-top: var(--text-color) 1px solid;
	padding: 30px;
	text-align: center;
	background: grey;
	border: 0;

}

.footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}


